###############
# Directories #
###############
bin/
obj/
TestResults/
packages/
App_Data/
PublishProfiles/

###################
# VS User Files   #
###################
*.suo
*.csproj.user

###################
# compiled source #
###################
*.dll
*.exe
*.pdb
*.dll.config
