body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#logoLink {
    padding-left: 0;
}

#logoLink .mainLogoText {
    font-family: 'Frijole', cursive;
    font-size: 150%;
}

#logoLink .subLogoText {
    font-size: 60%;
    line-height: 14px;
}

#mainNav {
    margin-left: 75px;
    font-size: 130%;
}

/* Centers nav items vertically in the top bar */
#mainNav, #accountNav {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* Fixes weird behavior where popping a modal adds scrollbar to body
   http://stackoverflow.com/questions/17726641/bootstrap-how-to-disable-vertical-scrollbar */
.modal {
    overflow-y: auto;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#mainContentArea {
    margin-top: 20px;
}

#alertContainer .alert {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.headerLabel {
    font-size: 200%;
}