/* Avoids "jump" in content when height exceeds viewport height and scrollbar pops in */
html {
    overflow-y: scroll;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body, body > .navbar {
    min-width: 475px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#logoLink {
    padding-left: 0;
}

#logoLink .mainLogoText {
    font-family: 'Frijole', cursive;
    font-size: 150%;
}

#logoLink .subLogoText {
    font-size: 60%;
    line-height: 14px;
}

/* Styles that apply only when main nav is not collapsed (non-mobile screens) */
@media (min-width: 768px) {
    #mainNav {
        font-size: 130%;
        margin-left: 75px;
    }

    /* Centers nav items vertically in the top bar */
    #mainNav, #accountNav {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

/* In mobile, looks weird to have content flush against left side */
@media (max-width: 767px) {
    .navbar-fixed-top  {
        padding-left: 5px;
    }

     /* Offsets the -15 margin */
    #mainContentArea {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Centers the navbar toggle button a little better vertically within the bar */
.navbar-fixed-top .navbar-toggle {
    margin-top: 15px;
}

/* Fixes weird behavior where popping a modal adds scrollbar to body
   http://stackoverflow.com/questions/17726641/bootstrap-how-to-disable-vertical-scrollbar */
.modal {
    overflow-y: auto;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#mainContentArea {
    margin-top: 20px;
}

#alertContainer {
    position: fixed;
    bottom: 0;
    z-index: 100000;
    width: 100%;
    margin-left: 10px;
    background-color: white;
}

#alertContainer .alert {
    padding-left: 50px;
    padding-right: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 125%;
}

.headerLabel {
    font-size: 200%;
}