/*  How to disable deafult headers / footers when printing
    http://stackoverflow.com/questions/1960939/disabling-browser-print-options-headers-footers-margins-from-page*/

@page 
{
    size: auto;
    margin: 0mm;
}

body 
{
    background-color:#FFFFFF; 
    margin: 0px;
    padding: 0.5in;
}