#section-basics {
    padding-top: 15px;
}

.portraitThumbnailContainer {
    text-align: right;
}

.portraitThumbnail {
    max-width: 200px;
    max-height: 200px;
    margin-right: 15px;
}