#aspectAccordion .panel-heading {
    cursor: pointer;
}

#aspectAccordion .panel-heading .headingLabel {
    color: #D0D0D0;
    text-align: right;
    font-size: 80%;
    top: 10px;
}

#aspectAccordion .panel-body .header {
    text-align: center;
    font-size: 110%;
}

#aspectAccordion .panel-body .headingLabel {
    font-weight: bold;
}

#aspectAccordion .panel-body .descriptiveBlurb {
    font-size: 75%;
    font-style: italic;
}

#aspectAccordion .panel-body .row {
    margin-top: 10px;
}

#aspectAccordion .control-label {
    font-size: 70%;
    color: #666;
}

#aspectAccordion .eventsInput { height: 65px; }
