.characterManageHeader {
    padding-bottom: 15px;
}

.characterName {
    font-size: 200%;
}

.characterHighConcept {
    font-size: 120%;
    color: #888;
}

/* TODO: Still can't the save button to align bottom... */

.saveButtonContainer {
    text-align: right;
    padding: 0;
    height: 100%;
}

#saveButton {
    margin-right: 15px;
}


.char-section {
    min-height: 500px;
    border-color: black;
}

#sections-container > .panel {
    margin-left: 0;
    margin-right: 0;
}

/* Fixes weird layout issue with rows inside panels
   http://stackoverflow.com/questions/15728336/the-row-is-larger-than-the-container-in-bootstrap */
#sections-container > .panel .row {
    margin-left: 0;
    margin-right: 0;
}



