.charGlyph {
    font-size: 400%;
    text-align: center;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

.characterThumbnail {
    padding: 2px;
    margin-bottom: 5px;
    height: 80px;
}

.characterThumbnail img {
    max-height: 75px;
    margin: 0 auto;
}

.characterPanel {
    display: inline-block;
    margin-right: 10px;
    min-width: 130px;
}

.characterPanel .panel {
    text-align: center;
    padding: 10px;
    border-color: #666;
    min-height: 125px;
}

.characterPanel .panel:hover {
    border: solid thin red;
}

.characterPanel .characterName {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    font-weight: bold;
    font-size: 90%;
}

#createCharacterContainer {
    margin-top: 12px;
    margin-bottom: 20px;
}