.powerContainer {
    margin-bottom: 7px;
}

#addStockPowerModal .loadingContainer {
    text-align: center;
}

#addStockPowerModal .list-item-power {
    cursor: pointer;
}

#addStockPowerModal .selected-indicator {
    display: none;
}

#addStockPowerModal .list-item-power.active .selected-indicator {
    display: inherit;
    position: absolute;
    left: 7px;
    top: 2px;
    font-size: 200%;
    color: #0C0;
}

.powerContainer thead {
    font-weight: bold;
}

.powerContainer td.cost, .powerContainer td.remove {
    text-align: center;
}

/* Circular delete button */
.powerContainer .powerDeleteButton {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}
.powerContainer .powerDeleteButton .glyphicon {
    vertical-align: baseline;
    font-size: 85%;
}
.powerContainer .powerDeleteButton:hover {
    opacity: 1;
}