/*  How to disable deafult headers / footers when printing
        http://stackoverflow.com/questions/1960939/disabling-browser-print-options-headers-footers-margins-from-page */
@page {
    size: auto;
    margin: 0mm;
}

body {
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0.5in;
}

#header {
    font-size: 180%;
    font-weight: bold;
    text-align: center;
    margin-bottom: .25in;
    font-family: 'Aclonica', sans-serif;
}

.label {
    color: #666666;
    font-size: 90%;
    font-family: 'Aclonica', sans-serif;
}

.field {
    font-family: 'Shadows Into Light Two', cursive;
    color: #000099;
    font-weight: bold;
    font-size: 125%;
}

.panel {
    border: solid thin black;
    border-radius: 4px;
    width: 48.5%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 10px;
}

.panel.panel-left {
    float: left;
    clear: left;
}

.panel.panel-right {
    float: right;
    clear: right;
}

.panel .panel-title {
    font-size: 110%;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
}

#names .panel {
    position: relative;
}

#names .panel .label {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
}

#names .panel.panel-left .field {
    padding-left: 1.25in;
}

#names .panel-right {
    text-align: right;
}

#names .panel-right .label {
    right: 0;
}

#names .panel-right .field {
    padding-right: 1.5in;
}

#aspectsPanel .field,
#aspectsPanel .label {
    text-align: center;
}

#aspectsPanel .label {
    margin-top: 10px;
}

#aspectsPanel .field {
    font-size: 98%;
}

#skillsPanel .skillRank {
    margin-bottom: 10px;
    margin-left: 10px;
}

#skillsPanel .skillRank .rankLabel,
#skillsPanel .skillRank .skillList {
    display: inline-block;
    vertical-align: top;
    min-height: 40px;
}

#skillsPanel .skillRank .skillList {
    margin-left: 20px;
    max-width: 2in;
    font-size: 70%;
}

#skillsPanel .skillRank .numSlots {
    display: block;
}

#skillsPanel .skillRank .numSlots .field {
    margin-left: 3px;
    font-size: 93%;
}

#skillsPanel .skillRank .skillField:not(:last-child):after {
    content: ", ";
}

#stressPanel .panel-title {
    margin-bottom: 10px;
}

#stressPanel .bubble:not(:first-child) {
    margin-left: 3px;
}

#stressPanel .bubble:after {
    content: "\25CB";
}

#stressPanel .bubble.disabled:after {
    content: "\25CF";
    color: #000099;
}

#stressPanel .label {
    display: inline-block;
    min-width: 100px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#stressPanel .label .relatedSkill {
    display: block;
    font-size: 80%;
}

#stressPanel .label .relatedSkill:before {
    content: "(";
}

#stressPanel .label .relatedSkill:after {
    content: ")";
}

#stressPanel .bubbles {
    display: inline-block;
    vertical-align: top;
    margin-top: -6px;
    font-size: 26pt;
    font-family: serif;
}

#powersPanel table {
    margin-top: 5px;
}

#powersPanel th,
#powersPanel td {
    text-align: left;
}

#powersPanel .cost {
    width: 60px;
    text-align: center;
}

#powersPanel .field {
    font-size: 98%;
}

#powersPanel .totalCost {
    margin-top: 20px;
    margin-left: 5px;
}

#powersPanel .totalCost .field {
    display: inline-block;
    border: solid thin black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px;
    line-height: 28px;
}

#powersPanel .totalCost .label {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    margin-left: 5px;
}

#consequencesPanel table {
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 10px 0px;
}

#consequencesPanel tr.systemCreated .field {
    font-size: 80%;
}

#consequencesPanel tr.userCreated .field {
    font-size: 90%;
}

#consequencesPanel tr.systemCreated td,
#consequencesPanel th {
    font-weight: normal;
}

#consequencesPanel thead th {
    font-size: 90%;
}

#consequencesPanel .systemCreated .field {
    font-family: 'Aclonica', sans-serif;
    color: black;
}

#consequencesPanel .stressType,
#consequencesPanel .used,
#consequencesPanel .stressAmount {
    text-align: center;
}

#consequencesPanel .type {
    text-align: left;
}

#consequencesPanel .aspect {
    text-align: right;
    width: 100%;
}

#consequencesPanel .used span {
    font-family: serif;
    font-size: 26pt;
    font-weight: normal;
    line-height: 12px;
    color: black;
}

#consequencesPanel .used span:after {
    content: "\25CB";
}

#miscStatsPanel .skillCap,
#miscStatsPanel .powerLevel {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    padding-left: 5px;
}

#miscStatsPanel .skillCap span,
#miscStatsPanel .powerLevel span {
    display: block;
}

#miscStatsPanel .skillCap span.field,
#miscStatsPanel .powerLevel span.field {
    font-size: 90%;
}
