#characterManageHeader {
    padding-bottom: 10px;
}

#characterLabelHighConcept {
    font-size: 120%;
    color: #888;
}

#characterLabelContainer {
    padding-left: 0;
    margin-left: 0;
}

#characterManageButtonContainer {
    text-align: right;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#saveButton {
    margin-right: 15px;
}

#sections-container > .panel {
    margin-left: 0;
    margin-right: 0;
}

/* Fixes weird layout issue with rows inside panels
   http://stackoverflow.com/questions/15728336/the-row-is-larger-than-the-container-in-bootstrap */
/*#sections-container > .panel*/ 
#sections-container > .panel .row, #characterManageHeader .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.char-section {
    min-height: 500px;
    border-color: black;
}
