@model Sordid.Web.Models.AboutViewModel
@{
    ViewBag.Title = "About";
}

<h2>About Sordid</h2>

<div id="version">
    <strong>Version</strong> @Model.Version<br/>
	Built ADD_BUILD_DATE
</div>

<div id="copyright">
	All code and language in this project is Copyright &copy; Justin Kohlhepp 2014.  All rights reserved.
</div>