@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>

This site is still getting started, so there isn't a lot of detailed help information available yet.
If you have a specific question or issue and can't figure it out, join our <a target="_blank" href="https://groups.google.com/d/forum/sordid-dev">Dev Mailing List</a> and ask there,
or create an issue on our <a target="_blank" href="https://github.com/RationalGeek/sordid">GitHub Project</a>.

<h2>FAQ</h2>

<p>
    <strong>I want to save my charater as PDF, but you only supporting printing it.</strong><br/>
    There are a couple options.  If you are using Google Chrome, you can save to PDF from the print dialog.  Other browsers probably have similar features or extensions.
    If that won't work, you could use PDF print driver such as <a target="_blank" href="http://www.cutepdf.com/">CutePDF</a>, and save a PDF that way.
</p>