@{
    ViewBag.Title = "Sordid - Dresen RPG Character Builder";
}

<div class="jumbotron">
    <h1>Sordid</h1>
    <p>Dresden RPG Character Builder</p>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <h2>Register Now</h2>
        <p>Create, store, and manage all of your Dresden RPG characters.  Register an account to begin.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Register", "Account")">Sign Me Up &raquo;</a></p>
    </div>
</div>