@model Sordid.Web.Models.AddPowerDialogViewModel

<ul class="list-group">
    @foreach (var power in Model.StockPowers)
    {
        <li class="list-group-item list-item-power" data-powerID="@power.Id">
            <span class="selected-indicator"><span class="glyphicon glyphicon-ok"></span></span>
            <span class="badge">@power.Cost</span>
            @power.Name
        </li>
    }
</ul>