<div class="panel-body">
    <!-- ko foreach: Character.Powers -->
    <div>
        <span data-bind="text: Name"></span> (<span data-bind="text: Cost"></span>)
    </div>
    <!-- /ko -->
</div>
