<div class="panel-body" id="notesPanel">
    <div id="notesContainer">
        <textarea id="notesEditor" placeholder="Enter character notes..." data-bind="wysihtml5: Character.Notes"></textarea>
    </div>
</div>