<form class="form-horizontal" role="form">
    <div class="form-group row">
        <label for="characterName" class="col-md-3 control-label">Name</label>
        <div class="col-md-9">
            <input id="characterName" class="form-control" data-bind="value: Character.Name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="playerName" class="col-md-3 control-label">Player Name</label>
        <div class="col-md-9">
            <input id="playerName" class="form-control" data-bind="value: Character.PlayerName" />
        </div>
    </div>
    @* TODO: Add drop down for power level, which drives max sill rank and refresh *@
</form>
