<form class="form-horizontal" role="form">
    <div class="form-group row">
        <label for="characterName" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input id="characterName" class="form-control" data-bind="value: Character.Name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="playerName" class="col-sm-3 control-label">Player Name</label>
        <div class="col-sm-9">
            <input id="playerName" class="form-control" data-bind="value: Character.PlayerName" />
        </div>
    </div>
    <div class="form-group row">
        <label for="powerLevel" class="col-sm-3 control-label">Power Level</label>
        <div class="col-sm-9">
            <select id="powerLevel" class="form-control" data-bind="options: PowerLevels, value: Character.PowerLevelId, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose...'"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9 col-sm-offset-3">
            <div id="skillPointsAndBaseRefresh" class="form-inline">
                <label for="maxSkillPoints" class="control-label">Max Skills Points</label>
                <input id="maxSkillPoints" class="form-control" type="number" data-bind="value: Character.MaxSkillPoints" />
                <label for="baseRefresh" class="control-label">Base Refresh</label>
                <input id="baseRefresh" class="form-control" type="number" data-bind="value: Character.BaseRefresh" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="imageUrl" class="col-sm-3 control-label">Image URL</label>
        <div class="col-sm-9">
            <input id="imageUrl" type="url" class="form-control" data-bind="value: Character.ImageUrl" />
        </div>
    </div>
    <!-- ko if: Character.ImageUrl() && Character.ImageUrl().length > 0 -->
    <div class="row portraitThumbnailContainer">
        @*<div class="col-xs-4 col-sm-4 col-sm-offset-8 col-md-offset-8">*@
        <img class="portraitThumbnail img-thumbnail" alt="Character Portrait" data-bind="attr: {src: Character.ImageUrl}" />
        @*</div>*@
    </div>
    <!-- /ko -->
    @* TODO: Add drop down for power level, which drives max sill rank and refresh *@
</form>
