@model System.Collections.Generic.List<Sordid.Core.Model.Character>
@{
    ViewBag.Title = "My Characters";
}
<h2>My Characters</h2>

@foreach (var character in Model)
{
    <div class="characterThumbnail">
        @character.Name;
    </div>
}

But for now you can @Html.ActionLink("Create a New Character", "New")

