@model Sordid.Web.Models.ManageCharacterViewModel
@{
    ViewBag.Title = Model.Character.Name;
}

<div class="row" style="padding-bottom: 2px;">
    <div class="col-md-9 col-md-offset-1" data-bind="text: Character.Name" style="font-size: 20pt;">
    </div>
    @* TODO: Can't get this stupid button to align bottom *@
    <div class="col-md-1" style="text-align: right; padding: 0;">
        <a id="saveButton" class="btn btn-success btn-sm" title="Save Character">
            <span id="saveIcon" class="glyphicon glyphicon-floppy-disk"></span>
            <span id="pendingSaveIcon" class="glyphicon glyphicon-transfer hidden"></span>
        </a>
    </div>
</div>

<div class="row">
    <div id="character-sections" class="col-md-2 col-md-offset-1 btn-group-vertical">
        <a type="button" href="#section-basics" class="btn btn-primary active">Basics</a>
        <a type="button" href="#section-skills" class="btn btn-primary">Skills</a>
        <a type="button" href="#section-aspects" class="btn btn-primary">Aspects</a>
    </div>

    <div id="section-basics" class="char-section col-md-8 panel panel-default" style="padding-top: 15px;">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="characterName" class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <input id="characterName" class="form-control" data-bind="value: Character.Name" />
                </div>
            </div>
            <div class="form-group">
                <label for="playerName" class="col-md-3 control-label">Player Name</label>
                <div class="col-md-9">
                    <input id="playerName" class="form-control" data-bind="value: Character.PlayerName" />
                </div>
            </div>
        </form>
    </div>

    <div id="section-skills" class="char-section col-md-6 panel panel-default hidden">
        <div class="panel-body">
            Skills
        </div>
    </div>

    <div id="section-aspects" class="char-section col-md-6 panel panel-default hidden">
        <div class="panel-body">
            Aspects
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Site/characterManage.js")"></script>
    <script>
        $(document).ready(function() {
            // Initialize Knockout
            sordid.characterManage.viewModelRaw = @Html.Raw( Json.Encode(Model) );
            sordid.characterManage.initKnockout();
        });
    </script>
}

