@model Sordid.Web.Models.ManageCharacterViewModel
@{
    ViewBag.Title = "Manage Character: " + Model.Character.Name;
}

<h2>Managing character @Model.Character.Name</h2>

Better implement this...

