@model Sordid.Web.Models.ManageCharacterViewModel
@{
    ViewBag.Title = Model.Character.Name;
}

<h2 data-bind="text: Character.Name" />

<p>Player Name: <input data-bind="value: Character.PlayerName" /></p>

@section Scripts
{
    <script type="text/javascript">
        viewModel = @Html.Raw(Json.Encode(Model) + ";")
        ko.applyBindings(viewModel);
    </script>
}

