@model Sordid.Web.Models.ManageCharacterViewModel
@{
    ViewBag.Title = Model.Character.Name;
}

<div class="row" style="padding-bottom: 2px;">
    <div class="col-md-7 col-md-offset-2" data-bind="text: Character.Name" style="font-size: 20pt;">
    </div>
    @* TODO: Can't get this stupid button to align bottom *@
    <div class="col-md-1" style="text-align: right; padding: 0;">
        <a id="#saveButton" class="btn btn-success btn-sm" title="Save Character"><span class="glyphicon glyphicon-floppy-disk"></span></a>
    </div>
</div>

<div class="row">
    <div id="character-sections" class="col-md-2 col-md-offset-2 btn-group-vertical">
        <a type="button" href="#section-basics" class="btn btn-primary active">Basics</a>
        <a type="button" href="#section-skills" class="btn btn-primary">Skills</a>
        <a type="button" href="#section-aspects" class="btn btn-primary">Aspects</a>
    </div>

    <div id="section-basics" class="char-section col-md-6 panel panel-default">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="characterName" class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                    <input id="characterName" class="form-control" data-bind="value: Character.Name" />
                </div>
            </div>
            <div class="form-group">
                <label for="playerName" class="col-md-3 control-label">Player Name</label>
                <div class="col-md-9">
                    <input id="playerName" class="form-control" data-bind="value: Character.PlayerName" />
                </div>
            </div>
        </form>
    </div>

    <div id="section-skills" class="char-section col-md-6 panel panel-default hidden">
        <div class="panel-body">
            Skills
        </div>
    </div>

    <div id="section-aspects" class="char-section col-md-6 panel panel-default hidden">
        <div class="panel-body">
            Aspects
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        // Initialize Knockout
        viewModelRaw = @Html.Raw(Json.Encode(Model) + ';')
        viewModelMapped = ko.mapping.fromJS(viewModelRaw);
        ko.applyBindings(viewModelMapped);

        // Set show/hide behavior for character sections
        $('#character-sections .btn').click(function (e) {
            // Toggle the button activeness
            var allButtons = $('#character-sections .btn');
            allButtons.removeClass('active');
            $(e.target).addClass('active');

            // Show the section
            var sections = $('.char-section');
            sections.addClass('hidden');
            $(e.target.hash).removeClass('hidden');
        });
    </script>
}

