@model Sordid.Web.Models.PrintCharacterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Character Print</title>
</head>
<body>
    <div> 
        I am a character printout for character @Model.Character.Name
    </div>
</body>
</html>
