@model Sordid.Web.Models.PrintCharacterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Character Print</title>
    <link href="@Url.Content("~/Content/site/character/characterPrint.css")" rel="stylesheet" />
</head>
<body>
    <div> 
        This is the character printout for character @Model.Character.Name
    </div>
</body>
</html>
